<div class="">
<h1>WELCOME TO THE RACE</h1>

<div class="form">
<%= form_for(@provider) do |f| %>
<div>
  <p><%= f.label :name %></p>
  <%= f.text_field :name %>
</div>

<h5>Log in with:</h5>
<div>
<img class="facebookimg" src="http://videostir.com/blog/wp-content/uploads/2015/10/add-a-video-to-facebook-profile-1024x576.jpg" />
<img class="googleimg" src="http://wwwhatsnew.com/wp-content/uploads/2015/07/Google-Plus-Logo.png" />
</div>

<h5>Or use your email:</h5>

<div>
  <%= f.submit "Save User" %>
</div>

<p><%= link_to "Offer your car for Rent", :class => "btn btn-primary btn-lg orange darken-1" %>

  <div>
    <p><%= image_tag :image %></p>
  </div>

  <div>
    <%= f.submit "Save Car" %>
  </div>

<% end %>
</div>
</div>
