<div class="">
  <div class="loging_header">
    <h1>Welcome to
      <em>RCF</em>
      website.</h1>
  </div>

  <div class="motto">
    <p>Exclusive cars for rent any time, any where just for you.</p>
  </div>

  <div class="users_block">
    <%= form_for(@consumer) do |f| %>
    <div>
      <p><%= f.label :name %></p>
      <%= f.text_field :name %>
    </div>

    <div>
      <p><%= f.label :email %></p>
      <%= f.text_field :email %>
    </div>

    <h5>Or Log in with:</h5>
    <div>

      <a class="btn btn-block btn-social btn-github">
        <span class="fa fa-github"></span> Sign in with GitHub
      </a>

      <a class="btn btn-block btn-social btn-linkedin">
        <span class="fa fa-linkedin"></span> Sign in with LinkedIn
      </a>
    <br>
    <br>
        <div>
          <%= f.submit "Submit Consumer", :class => "btn btn-primary btn-lg yellow darken-2" %>
        </div>
        <br>
        <div>
          <span class="btn btn-default"><%= link_to "Back", root_path %></span>
        </div>

        <% end %>
      </div>
    </div>
