<%= content_for :body_class do "new" end %>

<h1>Add your car here and become a car host</h1>

<div class="add_car">
  <div class="middle">
  <%= form_for(@car) do |f| %>
  <div>
    <p><%= f.label "Car model" %></p>
    <%= f.text_field :model %>
  </div>
  <div class="">
    <%= f.label "Desctription of the car:" %>
    <p><%= f.text_area :description %></p>
    </div>
    <div>
    <%= f.label "Available from:" %>
<p><%= f.text_field :begin_date %></p>
    </div>
    <div>
    <%= f.label "Available until:" %>
<p><%= f.text_field :end_date %></p>
</div>
<div>
<%= f.label "Price per day:" %>
<p><%= f.text_field :price %></p>
    </div>
    <div>
    <%= f.label "Pick up location:" %>
    <p><%= f.text_field :location %></p>
        </div>
  <div class="">
    <p><%= f.text_field :image %></p>
  </div>
  <div class="">
    <p><%= f.submit "Submit Car" %>
      <span class="btn btn-default"><%= link_to "Back", root_path %></span>
    </p>
  </div>
</div>
</div>
<% end %>
