<h1>Add your car here and become a car host</h1>

<%= form_for(@car) do |f| %>

<div>
  <p><%= f.label :model %></p>
  <%= f.text_field :model %>
</div>

<div>
  <p><%= f.label :description %></p>
  <%= f.text_area :description %>
</div>

<div>
  <p><%= image_tag :image %></p>
</div>

<div>
  <%= f.submit "Submit your car" %>
</div>
<% end %>
