<article class="car">
  <h1><%= @car.model %></h1>
  <p><%= @car.description %></p>
  <p><%= image_tag @car.image, :style => "width:100%;" %></p>
  <p><%= @car.begin_date %></p>
  <p><%= @car.end_date %></p>
  <p><%= @car.price %></p>
  <p><%= @car.location %></p>
  <p class="navigation">
    <span class="btn btn-default"><%= link_to "Back", root_path %></span>
    <span class="btn btn-default"><%= link_to "Edit", edit_car_path(@car) %></span>
    <span class="btn btn-default"><%= link_to "Destroy", car_path(@car), method: :delete %></span>
<%= link_to "Order this car", thanks_path, :class => "btn btn-primary btn-lg  red darken-1 homepage-btn" %>
  </p>
</article>
