<div>
<h1>See your reservation here</h1>
<h1><%= @car.model %></h1>
<p><%= @car.description %></p>
<p><%= image_tag @car.image, :style => "width:100%;" %></p>
<p><%= @car.begin_date %></p>
<p><%= @car.end_date %></p>
<p><%= @car.price %></p>
<p><%= @car.location %></p>
</div>

<div class="jumbotron homepage-block">
<h2> Thank you for your order </h2>
<h5> See here your reservation </h5>

<h3><%= link_to "Go to home",root_path, :class => "btn btn-primary btn-lg  green darken-1" %></h3>
</div>
