<div class="jumbotron homepage-block">

  <h1>Car rental</h1>
  <%= image_tag "logo.jpg" %>
  <p>.............</p>

  <p><%= link_to "Add car", new_provider_path, :class => "btn btn-primary btn-lg green darken-1" %> <%= link_to "Rent a car", new_consumer_path, :class => "btn btn-primary btn-lg  green darken-1" %></p>

<h2>TESTING BUTTONS</h2>
  <p><%= link_to "Add car", new_car_path, :class => "btn btn-primary btn-lg green darken-1" %> <%= link_to "Rent a car", cars_path, :class => "btn btn-primary btn-lg  green darken-1" %></p>

</div>
