<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Site</title>
  <%= stylesheet_link_tag    :all %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= image_tag "logo.jpg" , class: "logo" %><br/>
<div class="menu" ><%= image_tag "bannerleft.png" %></div><br/>

<%= yield %>

</body>
</html>
