<h1>Add User Profile</h1>

<%= form_for(@user) do |f| %>
<div>
  <p><%= f.label :provider %></p>
  <%= f.text_field :provider %>
</div>

<div>
  <p><%= f.label :consumer %></p>
  <%= f.text_area :consumer %>
</div>

<div>
  <%= f.submit "New User" %>
  <%= link_to "Cancel", root_path %>
</div>

<% end %>
